/Adibidea2/nbproject/private/
/Adibidea2/dist/
/Adibidea2/build/
/Adibidea3/nbproject/private/
/Adibidea3/build/
/Ariketa1_6/nbproject/private/
/HiloAdibidea1/nbproject/private/
/HiloAdibidea1/build/
/HiloEjemplo2/nbproject/private/
/HariakAriketa1_2/nbproject/private/
/HariakAriketa1_2/build/
/HariakAriketa1_2v2/nbproject/private/
/HariakAriketa1_2v2/build/
/EjemploLectura/nbproject/private/
/Ejemplo6/nbproject/private/
/EjemploLectura/build/
/EjemploLectura/dist/
/Ejemplo6/build/
